:root{

    /* Background */
    --bg:#050505;
    --bg2:#0d0d0d;
    --panel:#111111;
    --panel2:#181818;

    /* Main */
    --white:#ffffff;
    --black:#050505;

    /* AKAONI Red */
    --red:#b00000;
    --red-dark:#b00000;
    --red-light:#b00000;

    /* Accent (sparsam einsetzen) */
    --orange:#ff6a00;

    /* Text */
    --text:#ffffff;
    --text-soft:#d8d8d8;
    --text-muted:#9a9a9a;

    /* Borders */
    --border:#ff0000;

    /* Glow */
    --red-glow:0 0 8px rgba(255,0,0,.55),
               0 0 20px rgba(255,0,0,.35);

    --orange-glow:0 0 8px rgba(255,106,0,.35);

}
